<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP|Open+Sans&display=swap" rel="stylesheet">
    </head>

<%= image_tag "logo.png" %><br>

<div class="box">
  <p>
     <a><button class="Button-style"><%= link_to '新しい記事を書く', '/store' %></button></a>
     <a><button class="Button-style"><%= link_to '作成済みの記事を編集する', '/articles' %></button></a>
  </p>
</div>

</html>