<%= image_tag "logo.png" %><br>

<% if flash[:notice] %>
   <%= flash[:notice] %>
<% end %>

<div class="box">
    <% @articles.each do |article| %>
      <p><%= link_to "#{article.title}", "/articles/#{article.id}" %></p>
      <%= link_to '削除', "/articles/#{article.id}", method: :delete %>
    <% end %>
</div>